 .u-section-1 {
  background-image: linear-gradient(#370357, #f4cd00);
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1828px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 29px;
}

.u-section-1 .u-group-1 {
  min-height: 252px;
  height: auto;
  margin: 0 1px;
}

.u-section-1 .u-container-layout-2 {
  padding: 8px 27px;
}

.u-section-1 .u-group-2 {
  min-height: 210px;
  height: auto;
  width: 452px;
  margin: 13px 0 0 auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 5px 0;
}

.u-section-1 .u-text-1 {
  margin: 0 auto 0 4px;
}

.u-section-1 .u-image-1 {
  width: 39px;
  height: 51px;
  margin: 12px auto 0 16px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: -39px auto 0 68px;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-2 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-3 {
  min-height: 253px;
  height: auto;
  width: 510px;
  margin: 0 0 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 8px 30px;
}

.u-section-1 .u-group-4 {
  min-height: 210px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding: 5px 0;
}

.u-section-1 .u-text-5 {
  margin: 0 auto 0 4px;
}

.u-section-1 .u-image-3 {
  width: 69px;
  height: 51px;
  margin: 10px auto 0 0;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -38px auto 0 68px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-4 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-5 {
  min-height: 252px;
  height: auto;
  margin: 1px 0 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 8px 30px;
}

.u-section-1 .u-group-6 {
  min-height: 210px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-7 {
  padding: 5px 0;
}

.u-section-1 .u-text-9 {
  margin: 0 auto 0 4px;
}

.u-section-1 .u-image-5 {
  width: 51px;
  height: 51px;
  margin: 12px auto 0 11px;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -40px auto 0 68px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-6 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-7 {
  min-height: 252px;
  height: auto;
  margin: -2px 0 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 8px 30px;
}

.u-section-1 .u-group-8 {
  min-height: 210px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 5px 0;
}

.u-section-1 .u-text-13 {
  margin: 0 1px 0 auto;
}

.u-section-1 .u-image-7 {
  width: 61px;
  height: 51px;
  margin: 10px auto 0 2px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: -38px auto 0 68px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-8 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-9 {
  min-height: 252px;
  height: auto;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 8px 30px;
}

.u-section-1 .u-group-10 {
  min-height: 210px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-11 {
  padding: 5px 0;
}

.u-section-1 .u-text-17 {
  margin: 0 1px 0 auto;
}

.u-section-1 .u-image-9 {
  width: 69px;
  height: 51px;
  margin: 12px auto 0 2px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: -40px auto 0 68px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-10 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-11 {
  min-height: 253px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 8px 30px;
}

.u-section-1 .u-group-12 {
  min-height: 210px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-13 {
  padding: 5px 0;
}

.u-section-1 .u-text-21 {
  margin: 0 1px 0 4px;
}

.u-section-1 .u-image-11 {
  width: 39px;
  height: 51px;
  margin: 12px auto 0 16px;
}

.u-section-1 .u-text-22 {
  font-weight: 700;
  margin: -39px auto 0 68px;
}

.u-section-1 .u-text-23 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-12 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-24 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-13 {
  min-height: 253px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding: 8px 30px;
}

.u-section-1 .u-group-14 {
  min-height: 210px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-15 {
  padding: 5px 0;
}

.u-section-1 .u-text-25 {
  margin: 0 auto 0 4px;
}

.u-section-1 .u-image-13 {
  width: 61px;
  height: 51px;
  margin: 15px auto 0 3px;
}

.u-section-1 .u-text-26 {
  font-weight: 700;
  margin: -43px auto 0 68px;
}

.u-section-1 .u-text-27 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-14 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-28 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 1828px;
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-group-15 {
  min-height: 252px;
  height: auto;
  margin: 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 29px;
}

.u-section-1 .u-group-16 {
  min-height: 216px;
  height: auto;
  width: 450px;
  margin: 18px 0 0 2px;
}

.u-section-1 .u-container-layout-18 {
  padding: 5px 0;
}

.u-section-1 .u-text-29 {
  margin: 0 auto 0 4px;
}

.u-section-1 .u-image-15 {
  width: 39px;
  height: 58px;
  margin: 12px auto 0 16px;
}

.u-section-1 .u-text-30 {
  font-weight: 700;
  margin: -45px 0 0 57px;
}

.u-section-1 .u-text-31 {
  font-weight: 700;
  margin: 17px auto 0 68px;
}

.u-section-1 .u-image-16 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-32 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-17 {
  min-height: 253px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-19 {
  padding: 8px 30px;
}

.u-section-1 .u-group-18 {
  min-height: 215px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-20 {
  padding: 5px 0;
}

.u-section-1 .u-text-33 {
  margin: 0 auto 0 4px;
}

.u-section-1 .u-image-17 {
  width: 62px;
  height: 47px;
  margin: 17px auto 0 5px;
}

.u-section-1 .u-text-34 {
  font-weight: 700;
  margin: -35px auto 0 68px;
}

.u-section-1 .u-text-35 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-18 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-36 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-19 {
  min-height: 253px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-21 {
  padding: 8px 29px;
}

.u-section-1 .u-group-20 {
  min-height: 231px;
  height: auto;
  width: 450px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 5px 0;
}

.u-section-1 .u-text-37 {
  margin: 0 auto 0 5px;
}

.u-section-1 .u-image-19 {
  width: 51px;
  height: 51px;
  margin: 7px auto 0 12px;
}

.u-section-1 .u-text-38 {
  font-weight: 700;
  margin: -35px auto 0 69px;
}

.u-section-1 .u-image-20 {
  width: 64px;
  height: 64px;
  margin: -6px auto 0 5px;
}

.u-section-1 .u-text-39 {
  font-weight: 700;
  margin: -46px auto 0 69px;
}

.u-section-1 .u-text-40 {
  font-weight: 700;
  font-size: 1rem;
  margin: 29px auto 0 17px;
}

.u-section-1 .u-group-21 {
  min-height: 252px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-23 {
  padding: 8px 30px;
}

.u-section-1 .u-group-22 {
  min-height: 224px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-24 {
  padding: 5px 0;
}

.u-section-1 .u-text-41 {
  margin: 0 10px 0 3px;
}

.u-section-1 .u-image-21 {
  width: 39px;
  height: 51px;
  margin: 12px auto 0 16px;
}

.u-section-1 .u-text-42 {
  font-weight: 700;
  margin: -41px 3px 0 53px;
}

.u-section-1 .u-image-22 {
  width: 64px;
  height: 64px;
  margin: 24px auto 0 4px;
}

.u-section-1 .u-text-43 {
  font-weight: 700;
  margin: -46px auto 0 66px;
}

.u-section-1 .u-text-44 {
  font-weight: 700;
  font-size: 1rem;
  margin: 29px auto 0 16px;
}

.u-section-1 .u-group-23 {
  min-height: 252px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-25 {
  padding: 8px 30px;
}

.u-section-1 .u-group-24 {
  min-height: 230px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-26 {
  padding: 5px 0;
}

.u-section-1 .u-text-45 {
  margin: 0 2px;
}

.u-section-1 .u-image-23 {
  width: 67px;
  height: 51px;
  margin: 16px auto 0 2px;
}

.u-section-1 .u-text-46 {
  font-weight: 700;
  margin: -44px auto 0 68px;
}

.u-section-1 .u-text-47 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-24 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-48 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-25 {
  min-height: 253px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-27 {
  padding: 8px 30px;
}

.u-section-1 .u-group-26 {
  min-height: 210px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-28 {
  padding: 5px 0;
}

.u-section-1 .u-text-49 {
  margin: 0 auto 0 4px;
}

.u-section-1 .u-image-25 {
  width: 68px;
  height: 56px;
  margin: 7px auto 0 2px;
}

.u-section-1 .u-text-50 {
  font-weight: 700;
  margin: -40px auto 0 68px;
}

.u-section-1 .u-text-51 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-26 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-52 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

.u-section-1 .u-group-27 {
  min-height: 253px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-29 {
  padding: 8px 30px;
}

.u-section-1 .u-group-28 {
  min-height: 210px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-30 {
  padding: 5px 0;
}

.u-section-1 .u-text-53 {
  margin: 0 1px 0 auto;
}

.u-section-1 .u-image-27 {
  width: 68px;
  height: 68px;
  margin: 14px auto 0 4px;
}

.u-section-1 .u-text-54 {
  font-weight: 700;
  margin: -42px auto 0 68px;
}

.u-section-1 .u-text-55 {
  font-weight: 700;
  margin: 12px auto 0 68px;
}

.u-section-1 .u-image-28 {
  width: 64px;
  height: 64px;
  margin: -46px auto 0 4px;
}

.u-section-1 .u-text-56 {
  font-weight: 700;
  font-size: 1rem;
  margin: 10px auto 0 16px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 330px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1507px;
  }

  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    width: 358px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 50px;
  }

  .u-section-1 .u-group-3 {
    width: 412px;
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-group-7 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-image-7 {
    height: 50px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -37px;
  }

  .u-section-1 .u-group-9 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-group-11 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
  }

  .u-section-1 .u-image-11 {
    height: 50px;
  }

  .u-section-1 .u-group-13 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-14 {
    height: auto;
  }

  .u-section-1 .u-image-13 {
    height: 50px;
  }

  .u-section-1 .u-text-26 {
    margin-top: -42px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 1507px;
  }

  .u-section-1 .u-group-15 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-16 {
    width: 352px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-image-15 {
    height: 57px;
  }

  .u-section-1 .u-text-30 {
    margin-left: 68px;
    margin-top: -44px;
  }

  .u-section-1 .u-group-17 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-18 {
    height: auto;
  }

  .u-section-1 .u-group-19 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-20 {
    width: 352px;
    height: auto;
  }

  .u-section-1 .u-group-21 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-22 {
    height: auto;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 4px;
  }

  .u-section-1 .u-image-21 {
    height: 50px;
  }

  .u-section-1 .u-text-42 {
    margin-right: 0;
    margin-left: 68px;
  }

  .u-section-1 .u-group-23 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-24 {
    height: auto;
  }

  .u-section-1 .u-image-23 {
    height: 50px;
  }

  .u-section-1 .u-text-46 {
    margin-top: -43px;
  }

  .u-section-1 .u-group-25 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-26 {
    height: auto;
  }

  .u-section-1 .u-group-27 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-group-28 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 288px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 298px;
  }

  .u-section-1 .u-group-3 {
    width: 352px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-1 .u-group-16 {
    width: 292px;
  }

  .u-section-1 .u-group-20 {
    width: 292px;
  }

  .u-section-1 .u-text-43 {
    margin-top: -34px;
  }

  .u-section-1 .u-text-44 {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 479px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    min-height: 220px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-3 {
    min-height: 261px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-group-4 {
    min-height: 245px;
    width: 500px;
    margin-right: auto;
    margin-left: -158px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-19 {
    margin-top: 20px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-14 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 379px;
  }

  .u-section-1 .u-container-layout-16 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-15 {
    min-height: 270px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-16 {
    min-height: 252px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-20 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-22 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-43 {
    margin-top: -31px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 339px;
  }

  .u-section-1 .u-group-3 {
    width: 320px;
  }

  .u-section-1 .u-group-4 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 239px;
  }
}