 .u-section-1 {
  background-image: url("images/9k8Xan7oPH.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 684px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 38.64% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 26.72% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 666px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 12.54% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 546px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 88px;
}

.u-section-2 .u-image-1 {
  width: 47px;
  height: 61px;
  margin: 17px auto 0 158px;
}

.u-section-2 .u-text-1 {
  margin: -44px auto 0 216px;
}

.u-section-2 .u-image-2 {
  width: 45px;
  height: 69px;
  margin: -52px auto 0 359px;
}

.u-section-2 .u-countdown-1 {
  transition-duration: 0.5s;
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  animation-duration: 10000ms;
  margin: -62px auto 6px;
}

.u-section-2 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-2 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-2 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-2 .u-image-1 {
    height: 60px;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: -61px;
    margin-right: 220px;
    margin-bottom: 9px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-countdown-1 {
    margin-right: 111px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 166px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 19px;
    margin-left: 97px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -42px;
    margin-left: 158px;
  }

  .u-section-2 .u-image-2 {
    margin-right: 205px;
    margin-left: auto;
  }

  .u-section-2 .u-countdown-1 {
    margin: 12px 0 10px 97px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 165px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 20px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 111px;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: 242px;
  }

  .u-section-2 .u-countdown-1 {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

.u-section-2 .u-countdown-1,
.u-section-2 .u-countdown-1:before,
.u-section-2 .u-countdown-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-countdown-1.u-countdown-1.u-countdown-1:hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-countdown-1 {
  border-color: transparent !important;
}

.u-section-2 .u-countdown-1.u-countdown-1.u-countdown-1.hover {
  transform: translateX(0px) translateY(px) scale(1) rotate(0deg) !important;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-2 .u-countdown-1 {
  border-color: transparent !important;
}

.u-section-2 .u-container-layout:hover .u-countdown-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-2 .u-countdown-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 454px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 14px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 256px;
}

.u-section-3 .u-container-layout-1 {
  padding: 20px;
}

.u-section-3 .u-video-1 {
  margin-bottom: 0;
  margin-top: 46px;
  height: 228px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

.u-section-3 .u-video-poster-1 {
  background-image: url(images/maxresdefault1.jpg);
}

.u-section-3 .u-video-2 {
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-container-layout-2 {
  padding: 20px 20px 4px;
}

.u-section-3 .embed-responsive-2 {
  position: absolute;
  width: 178%;
  left: -39%;
  height: 178%;
  top: -39%;
}

.u-section-3 .u-video-poster-2 {
  background-image: url("images/maxresdefault.jpg");
  width: 56%;
  left: 22%;
  height: 56%;
  top: 22%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-3 .u-video-poster-2 {
    width: auto;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 505px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-bottom: 39px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-3 .u-video-1 {
    height: 182px;
    width: 330px;
    margin-top: 27px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-3 .u-video-poster-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-video-2 {
    min-height: 197px;
  }

  .u-section-3 .u-video-poster-2 {
    width: 56%;
    left: 22%;
    height: 56%;
    top: 22%;
  }
}

.u-section-3 .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]),
.u-section-3 .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]):before,
.u-section-3 .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-container-layout:hover .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .embed-responsive-2:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-4 .u-sheet-1 {
  min-height: 84px;
}

.u-section-4 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: 26px 473px 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-text-1 {
  margin: -30px auto 28px 419px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 78px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 31px;
    margin-right: 354px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -32px;
    margin-bottom: 20px;
    margin-left: 321px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-social-icons-1 {
    margin-top: 26px;
    margin-right: 338px;
  }

  .u-section-4 .u-text-1 {
    margin-bottom: 24px;
    margin-left: 228px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: -30px;
    margin-left: 184px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 67px;
  }

  .u-section-4 .u-social-icons-1 {
    margin-top: 18px;
    margin-right: 54px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -28px;
    margin-bottom: 21px;
    margin-left: 45px;
  }
}